<div class="h-screen bg-chill-950">
  <h1 class="bg-chill-950 py-5 text-center text-3xl text-white">
    Search Heroes
  </h1>

  <form class="flex justify-center gap-3">
    <mat-form-field class="example-full-width">
      <mat-label>Hero</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Hero Name"
        matInput
        [formControl]="searchInput"
        [matAutocomplete]="auto" />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onOptionSelected($event)">
        @for (hero of heroes(); track hero) {
          <mat-option [value]="hero">{{ hero.superhero }}</mat-option>
        }
        @if (isLoading() && searchInput.value !== '') {
          <mat-option [value]="">
            <div class="flex gap-3">
              <p>Loading...</p>
              <mat-spinner diameter="30" />
            </div>
          </mat-option>
        } @else if (
          heroes().length === 0 &&
          searchInput.value &&
          searchInput.value.length > 0
        ) {
          <mat-option [value]=""
            >No heroes were found with the text: {{ searchInput.value }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button
      [disabled]="searchInput.value === ''"
      (click)="clearSearchInput()"
      class="mt-3"
      mat-raised-button
      color="warn">
      Clear <mat-icon>close</mat-icon>
    </button>
  </form>

  @if (selectedHero()) {
    <div class="flex justify-center">
      <mat-card class="w-80">
        <mat-card-header>
          <div mat-card-avatar class="bg-cover"></div>
          <mat-card-title
            >{{ selectedHero()?.superhero | titlecase }}
          </mat-card-title>
          <mat-card-subtitle
            >{{ selectedHero()?.alter_ego | titlecase }}
          </mat-card-subtitle>
        </mat-card-header>
        @defer (on viewport) {
          <img
            mat-card-image
            [src]="selectedHero()! | heroImage"
            [alt]="selectedHero()?.superhero"
            class="aspect-[384/614] h-auto w-80" />
        } @placeholder {
          <img
            mat-card-image
            src="assets/no-image.png"
            [alt]="selectedHero()?.superhero"
            class="aspect-[384/614] h-auto w-80" />
        }
        <mat-card-content class="mt-2">
          <h3>{{ selectedHero()?.publisher }}</h3>
          @if (selectedHero()?.publisher) {
            <p>First appearance: {{ selectedHero()?.publisher }}</p>
          }
        </mat-card-content>
        <mat-card-actions class="flex w-full justify-around">
          <button
            (click)="deleteHero(selectedHero()!)"
            mat-raised-button
            color="warn">
            Delete
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="updateAndNavigateHero(selectedHero()!)">
            Edit
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  }
</div>
