@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #2f1b5a;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.background-toolbar {
  min-height: calc(100vh - 62px);
  background-color: #2f1b5a;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: rgb(172, 12, 12) !important;
}

.snackbar-error .mdc-snackbar__label {
  color: white !important;
}

.snackbar-success .mdc-snackbar__surface {
  background-color: rgb(14, 148, 14) !important;
}

.snackbar-success .mdc-snackbar__label {
  color: white !important;
}
